{{define "legend"}}<div class="legend">
  <div class="legend-item">
    <span class="legend-color" style="background-color: #9BB9FF;"></span>
    <span>Battery Power (kW)</span>
  </div>
  <div class="legend-item">
    <span class="legend-color" style="background-color: #FFE9A8;"></span>
    <span>Predicted Usage (kW)</span>
  </div>
  <div class="legend-item">
    <span class="legend-color"
      style="background-color: #FFB3B3; border: 2px dashed #FFB3B3; background: repeating-linear-gradient(90deg, #FFB3B3 0, #FFB3B3 5px, transparent 5px, transparent 10px);"></span>
    <span>Unit Price (p/kWh)</span>
  </div>
  <div class="legend-item">
    <span class="legend-color" style="background-color: rgba(155, 185, 255, 0.4);"></span>
    <span>Charging Slots</span>
  </div>
</div>{{end}}